<div>
    <link href='http://fonts.googleapis.com/css?family=Wendy+One' rel='stylesheet' type='text/css'>
    <div class="container">
        <div class="balloon">
            <div><div class= letter_balloon>¡</div></div>
            <div><div class= letter_balloon>B</div></div>
            <div><div class= letter_balloon>D</div></div>
            <div><div class= letter_balloon>A</div></div>
            <div><div class= letter_balloon>Y</div></div>
            <div><div class= letter_balloon>!</div></div>
        </div>
        <a class="btn"href="http://www.geogreeting.com/view.html?yAEsoBoCUCkvsBUmyxwsqyb">One more thing...</a>
    </div>
</div>